.form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 10px;
}

.input {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.submit {
  padding: 8px 10px;
  background-color: #33b5e5;
  border-radius: 4px;
  border: 1px solid #33b5e5;
  cursor: pointer;
  margin-top: 20px;
  transition: 300ms;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.submit:hover {
  background-color: #0099cc;
  color: white;
  border: 1px solid white;
}
