.list {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.name_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-weight: 700;
}

.deleteBtn {
  display: flex;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #33b5e5;
  cursor: pointer;
  transition: 300ms;
  color: #35363a;
}

.deleteBtn:hover {
  background-color: #0099cc;
  border: 1px solid white;
  color: white;
}

@media only screen and (max-width: 767px) {
  .name_box {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  .item {
    flex-direction: column;
  }

  .deleteBtn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
