.list {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.deleteBtn {
  display: flex;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #33b5e5;
  cursor: pointer;
  transition: 300ms;
  color: #35363a;
}

.deleteBtn:hover {
  background-color: #0099cc;
  border: 1px solid white;
  color: white;
}
